.gvSuperAdminSeeInfoHeader{ width:90px;}
.adminNoveltyDetailA{ line-height: 35px; color:rgb(102,171,0);}
.adminNoveltyDetailA:hover{ color:rgb(69,147,0); text-decoration:underline;}
.gvSuperAdminSeeInfoHeaderA{ margin: 0 auto; float:none;}
.gvSuperAdminSeeInfoHeaderAddr{ width:130px;}