/*******************整体布局*****************************/
*{ margin:0; padding: 0;}
img{ border:0;}
a{ text-decoration: none;}
ul,li{ list-style: none;}
body{ text-align: center; font-size: 12px; font-family: "宋体";}
input{ border:0;}
/*******************整体布局 end*****************************/

/*******************top *****************************/
#topNav{ border: 1px solid #ccc; width: 100%; height: 30px;}
#topMain{ width: 960px; height: 30px; margin: 0 auto; line-height: 30px; text-align: left;}
#topMain a{ color: red; text-decoration: underline;}
/*******************top nav*****************************/

/*******************mainNav*****************************/
#mainTop{ border: 1px solid #ccc; width: 960px; height: 100px; margin: 0 auto; line-height: 100px; font-size: 50px; margin-top: 10px; font-weight: 700;}
#mainNav{ border: 1px solid #ccc; width: 960px; height: 40px; margin: 15px auto 10px auto;}
#mainNav ul{ width: 970px; height: 100%;}
#mainNav li{ width: 138px; float: left; height: 40px; display: block; }
#mainNav a{ width: 114px; height: 32px; *width: 134px; *height: 40px; border-top-left-radius: 8px; border-top-right-radius: 8px; display: block; background-color: rgb(160, 163, 166); box-shadow: rgba(0, 0, 0, 0.4) 1px 0px 1px 0px; font-size: 14px; float: left; font-weight: 700; line-height: 28px; color: #fff; padding: 8px 10px 0 10px; margin-right: 4px;}
#mainNav .as{ background-color: rgb(100, 24, 51);}
/********************mainNav end****************************/

#loginInf{ width: 245px; height: 111px;  margin:20px auto 0 auto; border-radius: 8px; border:1px solid #303031; background-color: #e0e7ee; box-shadow: 0 0 2px rgba(0,0,0,0.6) inset;}
.logintext{ background-color: transparent; width: 225px; height:22px;  margin: 8px 10px 5px 10px; font-size: 14px; font-weight: 700; line-height: 16px; font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,"sans-serif"; color: rgb(68, 68, 68);}
#textEmail{ width: 245px; height: 37px; border-bottom: 1px solid #ccc; }
#textPassword{ width: 245px; height: 37px; border-bottom: 1px solid #ccc; }
#loginBtn{ width: 245px; height: 32px; font-size: 14px; box-shadow: 0 0 2px rgba(0,0,0,0.6) inset; display: block; font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,"sans-serif"; line-height: 32px; color: #fff;  margin:20px auto 0 auto; border-radius: 5px; background-color: #609bc5; border:1px solid #1e4311;}
