#all{ width:1349px; height:1000px; background-image:url("../images/superAdminImg/bg-body.gif"); background-repeat:repeat-y; background-color:rgb(240, 240, 240); }
#main{ width:100%; height:100%; background-image:url("../images/superAdminImg/bg-radial-gradient.gif"); background-repeat:no-repeat; background-position:230px 0%;}
#mainLeft{ width:221px; *width:230px; height: 100%; float:left; padding-left:9px;text-align: right; }
#mainRight{ width:77%; height: 960px;min-width:30%; float:right; margin-right:30px; padding-top:40px; text-align:left;} 

/**************************mainLeft******************************/
.mainLeft1{ width: 100%; height:40px;margin:40px 0 40px -10px;  }
.mainLeft1 img{ width:100%; height:40px; cursor: pointer;}
.mainLoginInfo{ width: 191px; *width:221px; height:70px; margin-bottom:20px; line-height:35px; color:rgb(136, 136, 136); padding: 0 15px; } 
.adminName{ color: rgb(204,204,204);  } 
.adminName:hover{ color:#fff;}
.mainLeft3{ width: 206px; height:390px; margin-left:15px;}
.mainLeft3Li{ width: 100%; height:auto; margin-bottom: 10px; }
.mainLeft3ATitle{ width:176px; height:14px; *width: 206px; *height: 34px; padding: 10px 15px; color: #fff; display: block; background-image:url("../images/superAdminImg/bg-menu-item-green.gif"); background-repeat: no-repeat; line-height: 14px; font-size:14px; }
.mainLeft3ATitleS{ background-image:url("../images/superAdminImg/bg-menu-item-current.gif"); color: rgb(51, 51, 51); font-weight: 700;} 
/**************************mainLeft end*******************************/
/**************************mainRight*******************************/
#mainRight h2{ width:100%; height:26px; margin-bottom:10px; color:rgb(34, 34, 34); font-size:26px; line-height: 26px; font-family:Helvetica,Arial,sans-serif; font-weight:700;}
.mainRightP{ width:100%; height:27px; font-size:17px; color:rgb(85, 85, 85); margin-bottom:20px; font-family:Arial,Helvetica,sans-serif; line-height:27.2px;}
.mainRightUl{ width: 100%; height: 132px; margin: 10px 0; text-align: center;}
.mainRightUl li{ width: 122px; height: 132px; margin-right:15px; float: left; }
.mainRightUl a{ width: 122px; height:110px; display: block; background-color:rgb(247, 247, 247); color:rgb(85, 85, 85); font-size:13px; line-height: 17px; border: 1px solid rgb(204, 204, 204);background-image:url("../images/superAdminImg/shortcut-button-bg.gif"); border-radius:6px; background-repeat:no-repeat;  }
.mainRightUl img{ width: 48px; height: 48px; margin: 15px auto 20px auto; }

#mainRTop{ width: 100%; height: auto;}
#mainRBottom{ width: 100%; height: 630px; border: 1px solid rgb(204, 204, 204); border-radius: 6px; background-color:#fff;}
#mainRFoot{ width: 100%; height: 20px; margin:40px 0 20px 0; padding-top:20px; border-top: 1px solid rgb(204, 204, 204); color:rgb(85, 85, 85); line-height: 20px; position:relative;}
#goTop{ width: 50px; height: 49px; background-image:url("../images/superAdminImg/aside_float_bar_d2b39075.png"); background-position:0 -246px; background-repeat: no-repeat; position: absolute; right:0; top:0px; display:block; }

.mainCTitle{ width: 100%; height: 40px; background-image: url("../images/superAdminImg/bg-content-box.gif"); background-repeat: repeat-x; font-size: 17px; color:rgb(34, 34, 34); line-height:40px; font-weight: 700;}
/**************************mainRight end*******************************/

/**************************普通管理员*******************************/
/**************************普通管理员 mainLeft*******************************/
.mainLeft3UlContent{ display: none; width:100%; height:auto;}
.mainLeft3UlContentS{ display: block;}
.mainLeft3UlContent li{ width:100%; height:32px; }
.mainLeft3UlContent a{ width:176px; *width:206px; height:16px; *height:32px; padding: 8px 15px; display:block; color:rgb(170, 170, 170); line-height: 15.6px; font-size:13px; } 
/**************************普通管理员 mainLeft end*******************************/
/**************************普通管理员 end*******************************/

/**************************提示栏目*******************************/
.addAdminAlert{ width: 95%; height:40px;  text-align:center; line-height: 30px; margin: 10px auto; }
.addAdminAlert1{ text-align:left; display:none; position:relative; width: 100%; height: 40px; border-radius: 6px; background-position:10px 11px; background-repeat: no-repeat; }
.addAdminAlertSuccess{ background-image: url("../images/superAdminImg/tick_circle.png"); background-color:rgb(213, 255, 206);border:1px solid rgb(154, 223, 143); }
.addAdminAlertInner{ padding: 10px 10px 10px 36px; height:20px; color:rgb(85, 102, 82); font-size:15px; font-weight:700;  line-height: 20px;}
.addAdminAlertFail{ background-image: url("../images/superAdminImg/cross_circle.png"); background-color:rgb(223, 143, 143); border: 1px solid rgb(223, 143, 143);}
.addAdminAlertInnerClose{ width: 7px; height:9px; position:absolute; right:5px; top:5px; display:block; cursor:pointer; }
.addAdminAlertInnerClose img{ width:100%; height:100%;}
.addAdminAlertNotice{ background-image: url("../images/superAdminImg/information.png"); background-color:rgb(219, 227, 255); border: 1px solid rgbrgb(162, 180, 238));}
/**************************提示栏目 end*******************************/

/**************************搜索框*******************************/
.serchAdminInfo{ width:100%; height: 50px; text-align: left; margin-top:10px;}
.searchsL{ width: 350px; height: 30px; margin: 0 auto;}
.searchButton{ width: 60px; height: 25px; background-color:rgb(102,171,0); color:#fff; font-weight:700; border-radius:5px;}
.searchButton:hover{ background-color:rgb(69,147,0);}
.Searchtags{ width: 200px; height: 25px; border: 1px solid #ccc; padding-left:5px; text-align: left; margin-right: 10px; border-radius:5px;}
/**************************搜索框 end*******************************/

/**************************gridwiew *******************************/
.gvSuperAdminSeeInfoCss{ margin: 20px auto 20px 0px; 
border: 1px solid #ccc; border-radius:6px;
}
.gvSuperAdminSeeInfoHeader{ width: 180px;  background-color: #e6e6e6; color: #444; font-family:"微软雅黑"; font-size:12px; height:35px; text-align:center;}
.gvSuperAdminSeeInfoORow{ background-color:#fff; color:#616161; font-size: 12px; text-align:center; height: 35px; font-family:"微软雅黑";}
.gvSuperAdminSeeInfoJRow{ background-color:#f5f5f5; color:#616161; font-size: 12px;text-align:center; height: 35px; font-family:"微软雅黑";}
.gvSuperAdminSeeInfoHeaderA{ width: 16px; height:16px; display:block; margin: 0px 0px 0 45px; float: left; cursor:pointer;}
/**************************gridwiew end*******************************/

/**************************paging *******************************/
.paging{ width:50%; height:30px;  margin: 0 auto;} 
.pageA{ display: block; height: 30px; border: 1px solid rgb(221, 221, 221); border-radius:4px; float: left; margin-right:5px; color:rgb(87, 160, 0); font-size: 13px; text-align:center; line-height:30px;}
.pageA:hover{ color:#000;}
.pageNum{ width: 30px;}
.pageStart{ width: 60px;}
/**************************paging end*******************************/


