*{padding:0;margin:0;}
a{text-decoration:none;}
body{text-align:center;}

#form1{width:auto;height:auto;}
#MIB_bloga{width:100%;height:617px;background-color:rgb(221, 243, 247);}
#headerblog{width:100%;height:45px;}
#MIB_body{width:800px;height:450px;margin:auto;background-color:#fafafa;}
#main_setupLeft{width:540px;height:450px;float:left;}
#index_titleT{width:540px;height:32px;text-align:left;padding-left:10px;border-bottom:1px solid #ccc;line-height:32px; }
#index_titleD{width:540px;height:40px;color:#f00;font-size:13px;text-align:left;padding-left:10px;padding-top:8px;}
.txtpswstyle{background-color:#fff;border:1px solid rgb(244, 255, 212); }

#curpswC{width:540px;height:45px;float:left;padding-left:10px;}
#curpswCL{width:70px;height:30px;font-size:15px;color:#000;float:left;line-height:30px;display:none;}
#curpswCtext{width:214px;height:24px;display:block;float:left;display:none;}
#curpswCR{width:246px;height:43px;float:left;position:relative;display:none;}
#curpswCR1{width:246px;height:43px;float:left;font-size:12px;color:#000;text-align:left;padding-left:2px;display:none;background-color:rgb(244, 255, 212);padding-top:2px;position:absolute;top:0px;left:0px;}
#curpswCR2{width:146px;height:43px;float:left;font-size:12px;color:#000;text-align:center;padding-left:2px;display:none;background-color:rgb(255, 219, 219);padding-top:2px;position:absolute;top:0px;left:0px;border-radius:5px;line-height:41px;}

#newpswC{width:540px;height:45px;float:left;padding-left:10px;}
#newpswL{width:70px;height:30px;font-size:15px;color:#000;float:left;line-height:30px;}
#newpswCtext{width:214px;height:24px;display:block;float:left;}
#newpswCR{width:246px;height:43px;float:left;position:relative;}
#newpswCR1{width:246px;height:43px;float:left;font-size:12px;color:#000;text-align:left;padding-left:2px;display:none;background-color:rgb(244, 255, 212);padding-top:2px;position:absolute;top:0px;left:0px;}
#newpswCR2{color:#f00;}

#surepswC{width:540px;height:45px;float:left;padding-left:10px;}
#surepswL{width:70px;height:30px;font-size:15px;color:#000;float:left;line-height:30px;}
#surepswCtext{width:214px;height:24px;display:block;float:left;}
#surepswCR{width:246px;height:43px;float:left;position:relative;}
#surepswCR1{width:246px;height:43px;float:left;font-size:12px;color:#000;text-align:left;padding-left:2px;display:none;background-color:rgb(244, 255, 212);padding-top:2px;position:absolute;top:0px;left:0px;}
#surepswCR2{color:#f00;}

#submit_password{width:540px;height:54px;padding-top:10px;float:left;}
#submit_passworda{width:100px;height:30px;display:block;margin:auto;background-color:#85d600;font-size:18px;line-height:30px;color:#fff;cursor:pointer;}
#submit_passworda:hover{background-color:#94da25;}

#lblSuccess{width:540px;height:45px;padding-top:10px;float:left}
#lblSuccessC{color:#fff;}

#mainsetupRight{width:185px;height:450px;float:right;}
#mainsetupRighttitle{width:185px;height:34px;text-align:left;padding-left:12px;line-height:34px;}
.mainsetupRighttitlestyle1{width:185px;height:25px;}
.mainsetupRighttitlestyle2{width:20px;height:20px;float:left;font-size:12px;color:#666;line-height:25px;}
.mainsetupRighttitlestyle3{width:160px;height:25px;display:block;float:left;color:rgb(0, 120, 182);font-size:12px;line-height:25px;cursor:pointer;text-align:left;}
.mainsetupRighttitlestyle3:hover{text-decoration:underline;}

.mainsetupRighttitlestyle14{width:185px;height:50px;}
.mainsetupRighttitlestyle24{width:20px;height:20px;float:left;font-size:12px;color:#666;line-height:25px;}
.mainsetupRighttitlestyle34{width:160px;height:25px;display:block;float:left;color:rgb(0, 120, 182);font-size:12px;line-height:25px;cursor:pointer;text-align:left;}
.mainsetupRighttitlestyle34:hover{text-decoration:underline;}

#mainsetupRightD{width:185px;height:80px;border-top:1px solid #ccc;margin-top:50px;}
#mainsetupRightDC{width:185px;height:25px;font-size:12px;line-height:20px;border-top:1px solid #ccc;color:#666;}

/*<a id="submit_passworda">确认</a>
<input  type="TextBox" id="newpswCtext" class="txtpswstyle"/>
<input  type="TextBox" id="surepswCtext" class="txtpswstyle"/>
    <div id="newpswCR2" class="pswCR2style">密码格式不正确!</div>
    <div id="surepswCR2" class="pswCR2style">新密码不一致!</div>
#newpswCR2{width:146px;height:43px;display:block;float:left;font-size:12px;color:#000;text-align:center;padding-left:2px;display:none;background-color:rgb(255, 219, 219);padding-top:2px;border-radius:5px;line-height:41px;}

#surepswCR2{width:146px;height:43px;float:left;font-size:12px;color:#f00;text-align:center;padding-left:2px;display:none;background-color:rgb(255, 219, 219);padding-top:2px;border-radius:5px;line-height:41px;}

 */