a{text-decoration: none;}
img{border: none;}
li ul{list-style: none;}
*{margin: 0px;padding: 0px;}
body{text-align: center;}



html{width:1349px;height: 15284px;}
body{width:1349px;height: 15284px;background-color: rgb(192, 228, 218);}
.W_miniblog{width: 1349px;height:15224px;padding-top: 60px;*height: 10497px;*padding-top:21px;background-image: url("../images/userMasterTRBImg/body_bg.jpg");background-position: 50% 0px;background-repeat: no-repeat;min-width: 980px;}
.W_miniblog_fb{width: 1349px;height: 10437px;float: left;}
.pl_content_top{width: 1349px;}
.WB_global_nav{width: 1349px;height: 39px;position: fixed;z-index:999;top: 0;left: 0;box-shadow: 0px 1px 3px 0px rgb(0, 0, 0);background-image: url("../images/userMasterTRBImg/userMasterTRBImg/bg_nav.png");background-repeat: repeat-x;background-position: 0px 0px;background-color: rgb(192, 228, 218);}
.gn_header{width: 990px;margin: 0 auto;position: relative;}
.gn_logo{width: 190px;height: 39px;margin-left: -27px;float: left;position: absolute;left: 0;top: 0;}
.logo{z-index: 1000;display: block;width: 160px;height: 34px;position: absolute;left:20px;top: 0px;border: 1px solid #0f0;}
.gn_nav{width: 173px;height: 38px;margin-left: 151px;margin-left:151px;float: left; }
.gn_title{width: 69px;height: 38px;position: relative;float: left;}
.gn_tab{padding-left: 2px;display: inline-block;z-index: 9999;line-height: 38px;text-align: center;height: 38px;}
i{color: #fff;font-family:"SimSun";line-height:38px;font-size:14px;padding: 11px 19px 11px 20px;white-space: nowrap;font-style: normal;*padding-left: 13px;}
.gn_search{width: 235px;height:24px;margin: 7px 0 0 25px;display: inline;float:left;position: relative;background-image: url("../images/userMasterTRBImg/bg_line.png");background-position:0 -5px;}
.AddImage{background-image: url("../images/userMasterTRBImg/bg_nav.png");background-position:0px -76px;background-repeat: repeat-x;}
.gn_input{ display: block;width:193px;height: 15px;margin: 5px 0 0 10px;color:  rgb(128, 128, 128);font-family:"SimSun";font-size: 12px;border:none;background-color: transparent;float: left;}
.getFocus{background-position: -473px -5px;}
.gn_btn{display: block;float: left; width: 20px;height: 20px;vertical-align: middle;background-image: url("../images/userMasterTRBImg/bg_line.png");background-position: -738px -8px;margin-top: 3px;visibility:hidden;}
.getCh{visibility:visible;}
.Chcolor{background-position:-716px -8px; }
.gn_person{width: 200px;height: 38px;float:right;}
.gn_name{display: inline-block;height: 37px;line-height: 37px;padding: 0 10px;max-width: 75px;overflow: hidden;white-space: nowrap;color: #fff;font-family:"Arial";font-size: 12px; }
.gn_setting{float: left;max-width: 95px;position: relative;}
.ico{vertical-align: middle; background-position: -49px 1px;background-image: url("../images/userMasterTRBImg/icon.png");display:inline-block;width: 16px;height: 16px;overflow: hidden;}
.gn_write{*width: 60px;*height: 38px;width: 30px;height: 27px;padding:11px 5px 11px 5px;position: relative;}
.ico1{background-position: -49px -49px;}
.ico2{background-position: -50px -100px;}
.gn_topmenulist{ display: none; width: 100px;height: 100px;position: absolute;right: 0px;top: 39px;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);z-index: 9998;padding: 5px 0px 0px;background: none repeat scroll 0% 0% rgb(192, 228, 218);}
.gn_text_list{width: 100px;height: 100px;float: left;}
.gn_text_list li{height: 26px;line-height: 26px;display: block;}
.gn_text_list a{width:70px;*width:100px;text-align: left; float: left; line-height: 26px;display: block;font-size: 12px;font-family: "SimSun"; padding: 0px 15px;white-space: nowrap;color:#fff;}
.gn_text_list a:hover{background-color:#ccc;}


.W_main{width: 980px;height: 14999px;margin: 0 auto;border-radius: 5px 5px 5px 5px;background-image:url("../images/userMasterTRBImg/repeat_bg_y.png");background-position: ; background-repeat:repeat-y;border-radius:5px 5px 5px 5px;}
.clearfix{display: block;}
.W_main_l{width: 150px;height: 772px;padding: 12px 0 30px 0;*height: 814px;;float: left;border-radius:5px 5px 5px 5px; }
.hoverA{background-color:#bee4d2;}
.WB_left_nav{width: 150px;height: 770px;float: left;}
.pl_leftnav_common{width: 150px;height:228px;float: left;}
.level_1_Box{width: 150px;float: left;min-height:50px;}
.level_2_Box{width: 150px;height: 190px;clear: both;}
.lev{width: 150px;height: 35px;float: left;}
.S_txt1{display:inline-block; width: 130px;height: 35px;float: left;padding-left: 20px;*width: 150px;color:rgb(51, 51, 51);font-family: "SimSun";font-size: 14px;line-height: 35px;text-align: left;white-space: nowrap;clear: both;}
.W_ico20{width: 20px ;height: 20px;margin-right: 10px;background-image: url("../images/userMasterTRBImg/icon2.png");background-position:  0px -223px;background-repeat: no-repeat;display: inline-block;line-height: 35px;float: left;margin-top:6px;}
.ico_myhomepage{background-position: 0px -25px;}
.ico_message{background-position: 0px -49px;background-image: url("../images/userMasterTRBImg/icon.png");}
.ico_favor{background-position:0px -74px;background-image: url("../images/userMasterTRBImg/icon.png");}
.ico_sendtome{background-position:0px -99px;background-image: url("../images/userMasterTRBImg/icon.png");}
.left_nav_line{display: block; width: 150px;height: 30px;float: left;}
.S_line1{width: 135px;display: block;margin-top: 10px;clear: both;overflow: hidden;padding: 0 0 6px 15px;border-color: rgb(217, 217, 217);border-style: solid;border-width: 1px 0px 0px;}
.ico_closefriend{background-position:0px -124px;background-image: url("../images/userMasterTRBImg/icon.png");}
.tit{line-height: 22px;font-size:12px;padding: 1px 5px 0;color: rgb(128, 128, 128);font-weight: bold;font-family: "SimSun";}
.btns{width: 57px;height: 22px;margin-top: -22px;margin-left:78px;}
.W_btn_round{display: inline-block;border-radius: 13px 13px 13px 13px;border:1px solid #fff;vertical-align: middle;}
.W_btn_round span{display: inline-block;border-radius: 13px 13px 13px 13px;height: 18px;line-height: 18px;border:1px solid #000;color: rgb(51, 51, 51);font-size: 12px;font-family: "SimSun";padding: 0 8px 0 9px;*width:43px;background-color: #ffa105;}
.clickA{background-image:url("../images/userMasterTRBImg/left_nav_border.png");background-position:left bottom;background-repeat: no-repeat;font-weight: bold;background-color: #fafafa;}
.group_show_list{width: 150px;height:300px;float: left;padding-top: 10px;*padding-top: 0px;}
.lev{width: 150px;height:28px;float: left;}
.S_txt{display: block; width: 150px;height: 28px;float: left;line-height: 28px;}
.W_ico12{display: inline-block;background-image: url("../images/userMasterTRBImg/icon.png");background-position: -75px -50px;margin: 8px 3px 0 5px;width:12px;height: 12px;visibility: hidden;cursor: pointer;float: left;}
.W_ico20t{float: left;margin: 4px 10px 0px 0px;vertical-align: -5px;background-image: url("../images/userMasterTRBImg/icon.png");background-repeat: no-repeat;line-height: 28px; background-position: 0px -149px;display: inline-block;width: 20px;height: 20px;}
.levtxt{font-size: 12px;height: 26px;line-height: 27px;display: inline-block;width: 70px;max-width: 70px;overflow: hidden;cursor: pointer;white-space: nowrap;color:#333;float: left;text-align: left;}
.S_txt3{width: 120px;height: 28px;padding-left: 30px;*width:150px;line-height: 28px;font-size: 12px;display: block;color: #333;font-family: "SimSun";float: left;}
.lev3{width: 150px;height: 28px;float: left;text-align: left;line-height:28px;display: none;}
.ico_lev_at{ vertical-align:middle;background-image: url("../images/userMasterTRBImg/icon.png");background-position: 0px -198px;background-repeat: no-repeat;overflow: hidden;display: inline-block;width: 19px;height: 20px;*margin-top: 5px;}
.levo{width: 150px;height: 35px;float: left;}
.ico_lev_like{background-position: 0px -223px;}
.ico_lev_letter{background-position: 0px -248px;}








.plc_main{width: 830px;height:14999px;float: left;}
.W_main_a{width: 830px;height:14999px;float: left;}

.ContentPlaceHolder1{width: 600px;height: 5908px;padding: 28px 0 50px 0;float: left;overflow: hidden;}



.global_footer{width: 940px;height: 175px;padding: 20px 20px 10px 20px;margin: 20px auto;*width: 980px;*height:205px;background-image: url("../images/userMasterTRBImg/footer_bg.png");background-position: left bottom;background-color: #fff;background-repeat: no-repeat;}
.clearfix{display: block;}
.list{float: left;width: 170px;display: inline;margin: 0px 18px 0px 0px;height: 85px;}
.list dt{line-height: 20px;padding: 0 0 5px;font-size: 12px;color: #333;font-family: "SimSun";text-align: left;}
.list dd{line-height: 20px;text-align: left;}
.list a{margin-right: 10px;color: rgb(77, 135, 117);line-height: 20px;cursor: progress;font-family: "SimSun";font-size: 12px;}
.other_link{width: 940px;height: 74px;margin-top: 15px;border-top: 1px solid rgb(230, 230, 230);float: left;}
.help_link{width:558px;height:64px;padding-top: 10px;*height: 74px;float: left; }
p{text-align: left;font-family: "SimSun";color: #333;font-size: 12px;line-height: 18px;}
.S_func1{margin-right: 10px;cursor: progress;font-family: "SimSun";color: #333;font-size: 12px;line-height: 18px;}
.hoverfoot{color:rgb(77, 135, 117); }
.S_txt2{padding: 3px 0px 0px;line-height: 18px;color: rgb(128, 128, 128);}













