body{width:1349px;height:auto; text-align:left;}
a{text-decoration: none;}
/*img{border:0px;}*/



#mycontent{width:980px;height:auto; margin:10px auto;}
/*...........................main....................................*/
#main{width:980px;height:2001px;border:1px solid #ccc;margin:0 auto;}
#header{width:980px;height:439px;border:1px solid #ccc; margin:0 auto;}
#header-top{width:980px;height:300px;border:1px solid #ccc;}
#header-footer{width:980px;height:124px;padding-bottom:15px;position: relative;}
#headerimage{width:184px;height:235px;position: absolute;border:1px solid #ccc;top:-108px;left:20px;}
#info{width:550px;height:114px;margin-right:190px;border:1px solid #ccc;float:right; text-align:left;}
#headerpic{width:180px;height:180px;padding: 2px;border:1px solid #ccc;position: relative;}
#userfan{width:184px;height:42px;border:1px solid #ccc;}
.fanc{width:53px;height:39px;padding: 0 3px 3px 3px;font-size:12px;border-right:1px solid #ccc;display:block;float:left;text-align:center;color:rgb(51, 51, 51);}
.fanc strong{font-size:16px;}
.fanc:hover{color:rgb(235,100,120);}
#changeimg{width:48px;height:18px;position: absolute;left:100px;top:140px;border:1px solid #ccc;padding:0 10px;text-align: center;font-size:12px;color:rgb(51,51,51);cursor: pointer;}
#changeimg a{color:rgb(51,51,51);}
#changehead{width:48px;height:18px;}
#name{width:550px;height:30px;padding-bottom:8px;border:1px solid #ccc; text-align:left;}
#intruduce{width:550px;height:14px;border:1px solid #ccc;padding-bottom:8px;color:rgb(235,100,120);font-size:12px;}
#intruduce a{color:rgb(235,100,120);line-height:14px;display: block;}
#tags{width:550px;height:24px;border:1px solid #ccc;}
#exit{width:72px;height:18px;padding: 0 10px;border:1px solid #ccc;margin-top:2px; font-size:12px;}
#exit a{color:rgb(51,51,51);font-size:12px;text-align:center; }
.info{color:rgb(235,100,120);font-size:12px;}
#lblname{color:rgb(51, 51, 51); font-size:20px; font-family:Arial;}
#lblurl{color:rgb(235, 100, 120); font-size:12px;}
#imgsax{width:12px;height:13px;line-height:24px;float:left;border:1px solid #ccc;}
#tags span{ font-size:12px;color:rgb(128, 128, 128); line-height:24px;float:left;}
#lblconlege{float:left;color:rgb(235, 100, 120);font-size:12px;width:auto;height:13px;margin-right:10px; margin-left:10px;}
#imghead{width:180px;height:180px;padding: 2px;border:1px solid #ccc;}
#lblstate{float:left;color:rgb(235, 100, 120); display:block;width:auto;height:13px; margin-right:10px;}
#btnedit{ margin-left:100px;}
#tags span{float:left; margin-left:5px; margin-right:5px;}
#state{color:rgb(235, 100, 120);}
#conlege{color:rgb(235, 100, 120);}


.headimg{width:180px;height:180px;}
#maincontent{width:980px;height:1562px;border:1px solid #ccc;}
#mainnav{width:960px;height:51px;padding-left:20px;  margin:0 auto;}
#child{width:960px;height:1511px;position: relative;padding-left:20px;}
.navs{width:116px;height:38px;padding:8px 0 3px 0;border:1px solid #ccc;float:left;text-align: center;background-color:rgb(242, 242, 242);}
.navs a{color:rgb(51, 51, 51);font-size:16px;font-family:"Microsoft Yahei";line-height:38px;}
.selectnav{width:960px;height:1511px;position: absolute;display:block;}
.childl{width:560px;height:1472px;float:left;border:1px solid #ccc;}
.childr{width:380px;height:500px;padding:0 0 30px 0;border:1px solid #ccc;float:right;}
.content{width:560px;height:1432px;margin-bottom:40px;border:1px solid #ccc;margin-top:20px;}
.content-title{width:560px;height:29px;border-bottom:0.5px solid #ccc;z-index:4; }
.content-title a{color:rgb(51, 51, 51);font-size:14px;font-family:"SimSun";width:auto;height:30px;display:block;float:left;margin-right:5px;position: relative;}
.content-title a:hover{text-decoration: underline;}
.content-title span{float:left;margin-right:5px;}
.selected{font-weight:700; }
.lspan{width:auto;height:8px;display:block;background-color: #fff; line-height:29px;}
.rcontent{width:358px;height:290px;margin:20px auto;border:1px solid #ccc;}
.rcontent-title{width:318px;height:33px;padding:8px 20px 9px 20px;margin-bottom:20px;background-color:rgb(242, 242, 242);}
.tl{width:84px;height:33px;border:1px solid #ccc;}
.fansclass{width:55px;height:14px;display: block;color:rgb(51, 51, 51);font-size:12px;font-family:Arial;}
.fansclass:hover{color:rgb(235,100,120);}
.greayw{width:84px;height:16px;color:rgb(128, 128, 128);font-size:12px;}
.rcfbox{width:320px;height:220px;border:1px solid #ccc;padding: 0 19px;}
.minrt{width:320px;height:18px;padding-top:4px;}
.minrc{width:342px;height:88px;border:1px solid #ccc;}
.redw{float:right;color:rgb(235,100,120);font-size:12px;}
.tl{float:left;}
.mynews{width:560px;height:auto;padding-top:10px;border:1px solid #ccc;}
.new-title{width:560px;height:26px;padding:4px 0;border:1px solid #ccc;}
.new-content{width:518px;height:194px;background-color:rgb(242, 242, 242);border:1px solid rgb(217, 217, 217);margin:0 auto;}
.userinfo{width:560px;height:auto; margin-top:10px;}
.userinfo li{width:560px;height:30px; font-size:12px;color:rgb(51, 51, 51); display:block; padding:5px;}
.lispan{width:60px;height:30px;display:block; text-align:right; margin-right:50px; line-height:30px;float:left;}
.hidetxt{width:195px;height:28px; padding-left:5px; }
.showinfo{width:auto;height:30px; font-size:12px; margin-left:20px; line-height:30px;}
.showdiv{}
.showtitle{width:60px;height:30px;float:left;}

.infotd{width:560px;height:30px; font-size:12px;color:rgb(51, 51, 51); display:block; padding:5px; position:relative;}
.info-left{width:60px;height:30px;display:block; text-align:right; line-height:30px;float:left; font-size:12px;}
.inforight{width:473px;height:30px;padding:0 10px; float:left;position:absolute;left:100px;top:0; z-index:2; }
.hidediv{width:473px;height:30px;padding:0 10px; position:absolute;left:100px;top:0; display:none;}
.hidediv input{ line-height:30px;}
.btnwrite{width:43px;height:20px;border:1px solid #ccc; cursor:pointer; float:right; text-align:center;margin:auto 0;}
.btnwrite:hover{ background-color:Orange;color:#fff;}
#title-left{width:auto;height:29px;float:left; margin-right:400px;}
#titleright{width:150px;height:29px;float:right;}
#Button1{width:auto;height:29px; display:block;float:right; position:absolute;}


.allnews{width:560px;height:300px;border:1px solid #ccc;}
.allnews-title{width:560px;height:34px;border:1px solid #ccc; padding:4px 0;color:rgb(51, 51, 51); font-size:14px; font-family:Arial;}
.true-content{width:518px;height:194px; padding:10px 20px;margin:5px 0 15px 0; background-color:rgb(242, 242, 242);color:rgb(51, 51, 51); font-size:14px; font-family:Arial;}
.allnews-b{width:560px;height:14px;border:1px solid #ccc;color:rgb(51, 51, 51); font-size:14px; font-family:Arial;}
/*............................main end...................................*/














#footer{width:940px;height:154px;margin:20px auto 0px auto;padding:20px 20px 10px 20px;border:1px solid #ccc;}